TURSO_DATABASE_URL=YOUR_TURSO_DATABASE_URL
TURSO_AUTH_TOKEN=YOUR_TURSO_AUTH_TOKEN
BETTER_AUTH_SECRET=YOUR_BETTER_AUTH_SECRET
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
# Change to https://benkyo.ycells.com when deploying, but for local development, use localhost
NEXT_PUBLIC_APP_URL=http://localhost:3000/